<div class="table-responsive">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Gênero</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Email</th>
        <th scope="col"><%= link_to 'Adicionar Cliente', new_admins_area_client_path, class:"btn ", style:"background-color: #763555; color:#fff" %></th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client|%>
        <tr>
          <th scope="row">
            <% if client.genre == 'feminino'%>
              <i class="fas fa-venus" style="color: #F15EA2; font-size: 30px"></i>
            <% else%>
              <i class="fas fa-mars" style="color: #5EB9E4; font-size: 30px"></i>
            <% end%>
          </th>
          <td><%= client.name %></td>
          <th scope="col"><%= client.cellphone_number%>65636</th>
          <th scope="col"><%= client.email%></th>
          <th scope="col">
            <%= link_to edit_admins_area_client_path(client), class:"btn ", style:"background-color: #763555; color:#fff; margin-bottom: 2px, ; margin-top: 2px" do%>
              <i class="bi bi-pencil-square"></i>
            <% end%>
            <%= link_to new_admins_area_product_path, class:"btn ", style:"background-color: #763555; color:#fff; margin-bottom: 2px, ; margin-top: 2px" do%>
              <i class="fas fa-shopping-cart"></i>
            <% end%>
            <button type="button" class="btn " style="background-color: #763555; color:#fff; margin-bottom: 2px, ; margin-top: 2px", data-bs-toggle="modal" data-bs-target="#exampleModal<%=client.name.delete('  .') %>"><i class="fas fa-trash"></i></button>
          </th>
        </tr>
        <div class="modal fade" id="exampleModal<%=client.name.delete('  .') %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= client.name %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Deseja excluir <strong><%= client.name%></strong>?</p>
              </div>
              <div class="modal-footer">
                <%= link_to 'Excluir', admins_area_client_path(client), method: :delete, class:"btn ", style:"background-color: #763555; color:#fff"%>
              </div>
            </div>
          </div>
        </div>
      <% end%>
    </tbody>
  </table>
</div>
<div class="container pagination justify-content-center mt-5">
  <%= paginate @clients %>
</div>
