<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MarciapereiraStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'layouts/admins_area', media: 'all' %>
  </head>
  <body>
    <header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
      <%= link_to 'Marcia Pereira', site_home_index_path, class:"navbar-brand col-md-3 col-lg-2 me-0 px-3 text-white fw-normal "%>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block  sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item pl-4">
                <%= image_pack_tag "media/images/marciapereira_store_logo.jpg", id:"logo" %>
              </li>
              <li class="nav-item">
                <a class="nav-link  pl-4 pb-4 pt-3" href="#">
                  <i class="bi bi-house-door"></i>
                  Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  pl-4 pb-4 pt-3" href="#">
                  <i class="bi bi-bar-chart-line "></i>
                  Vendas
                </a>
              </li>
              <li class="nav-item">
                <%= link_to admins_area_products_path, class: "nav-link  pl-4 pb-4 pt-3" do %>
                  <i class="bi bi-card-checklist"></i>
                  <span>Produtos</span>
                <% end%>
              </li>
              <li class="nav-item">
                <a class="nav-link  pl-4 pb-4 pt-3" href="#">
                  <i class="bi bi-person-lines-fill"></i>
                  Clientes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  pl-4 pb-4 pt-3" href="#">
                  <i class="bi bi-tags"></i>
                  Cadastrar Produtos/Categorias
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item">
                <a class="nav-link  pl-4 pb-4 pt-3" href="#">
                  <i class="bi bi-box-arrow-left"></i>
                  Sair
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-4">
          <%= yield %>
        </main>
      </div>
    </div>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'layouts/admins_area' %>
    <script>
      <% if notice %>
        toastr.error('<%= notice %>')
      <% end %>
    </script>
  </body>
</html>
