<!doctype html>
<html lang="en">
  <head>
    <title>MarciapereiraStore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'admin_devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="text-center">
    <main class="form-signin">
      <%= yield %>
    </main>
    <%= javascript_pack_tag 'admin_devise', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
